@media only screen and (min-width: 700px){
    .row
    {
        display: table;
        width: 100%;
        border-spacing: 20px;
    }
    .column
    {
        display: table-cell;
    }
}
.column h4 {
  font-size:large;
}

.parallax-container {
    max-height: 50vh;
}
