@media only screen and (min-width: 700px){
    .row
    {
        display: table;
        width: 100%;
        table-layout: fixed;
        border-spacing: 20px;
    }
    .column
    {
        display: table-cell;
    }

    .column ul {
      list-style-image: none;
    }
}
.column h4 {
  font-size:large;
}

